.main_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main_button {
    cursor: pointer;
    background-color: #3e8ed0;
    color: white;
    border-radius: 15px;
    min-width: 500px;
    height: 250px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.main_buttons p {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
}

.main_button:active {
    transition: 0.3s;
    background-color: tomato;
    color: yellow;
}