.screen {
    display: flex;
    height: 100vh;
}

.left {
    width: 800px;
    background-color: #3e8ed0;
    height: 100vh;
}

.rigth {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1
}

.operator {
    display: flex;
    align-items: center;
}

.operator span {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    font-size: 80px;
    color: #1b1574;
}

.silder_screen {
    width: 98%;
    height: 75%;
}

.modal_cont {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    font-size: 200px;
    color: #f3fd68;
    padding: 1em;
}

.modal-content {
    width: max-content;
}

