.buttons_service {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.button_service {
    cursor: pointer;
    background-color: #3e8ed0;
    color: white;
    border-radius: 15px;
    min-width: 400px;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 1em;
}

.button_service p {
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 35px;
}

.button_service:active {
    transition: 0.3s;
    background-color: tomato;
    color: yellow;
}

.center {
    display: block;
    padding: 15px;
    text-align: center;
}

.modal_lable {
    font-size: 70px;
    color: yellow;
}