<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="icon" href="/favicon.ico">
      <title>api_tester</title>
      <link href="{{ url_for('static', filename='api_tester/css/app.bb930784.css') }}" rel="preload" as="style">
      <link href="{{ url_for('static', filename='api_tester/css/chunk-vendors.3a6a161b.css') }}" rel="preload" as="style">
      <link href="{{ url_for('static', filename='api_tester/js/app.c77a4a72.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='api_tester/js/chunk-vendors.b96e5eee.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='api_tester/css/chunk-vendors.3a6a161b.css') }}" rel="stylesheet">
      <link href="{{ url_for('static', filename='api_tester/css/app.bb930784.css') }}" rel="stylesheet">
   </head>
   <body>
      <noscript><strong>We're sorry but api_tester doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
      <div id="app"></div>
      <script src="{{ url_for('static', filename='api_tester/js/chunk-vendors.b96e5eee.js') }}"></script>
      <script src="{{ url_for('static', filename='api_tester/js/app.c77a4a72.js') }}"></script>
   </body>
</html>