<!DOCTYPE html>
<html>
    <head>
        <title>login/reg device</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='login_form/style.css') }}">
    </head>
    <body>
        <div class="wrap">
            <form class="login_form" method="post">
                <h1>select device</h1>
                <label class="input_label">location</label>
                <select class="input_field" name="inputDevice">
                    {% for item in list %}
                    <option value="{{item.id}}">{{item.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" class="success_button" value="select" name="inputSelect">
            </form>
        </div>
    </body>
</html>