<!DOCTYPE html>
<html>
    <head>
        <title>login/reg device</title>
        <link rel='stylesheet' href="{{ url_for('static', filename='login_form/style.css') }}">
    </head>
    <body>
        <div class="wrap">
            <form class="login_form" method="post">
                <h1>login</h1>
                <label class="input_label">username</label>
                <input type="text" class="input_field" name="InputUserName">
                <label class="input_label">password</label>
                <input type="password" class="input_field" name="InputPassword">
                <input type="submit" class="success_button" value="login" name="signin">
            </form>
        </div>
    </body>
</html>