<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="icon" href="/favicon.ico">
      <title>web_screen</title>
      <link href="{{ url_for('static', filename='screen/css/app.6fb3c0e6.css') }}" rel="preload" as="style">
      <link href="{{ url_for('static', filename='screen/js/app.4554ee87.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='screen/js/chunk-vendors.b1892d1b.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='screen/css/app.6fb3c0e6.css') }}" rel="stylesheet">
   </head>
   <body>
      <noscript><strong>We're sorry but web_screen doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
      <div id="app"></div>
      <script src="{{ url_for('static', filename='screen/js/chunk-vendors.b1892d1b.js') }}"></script>
      <script src="{{ url_for('static', filename='screen/js/app.4554ee87.js') }}"></script>
   </body>
</html>

