<!DOCTYPE html>
<html lang="">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="icon" href="/favicon.ico">
      <title>web_terminal</title>
      <link href="{{ url_for('static', filename='terminal/css/app.1730eeb1.css') }}" rel="preload" as="style">
      <link href="{{ url_for('static', filename='terminal/js/app.aba53cd5.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='terminal/js/chunk-vendors.b6b30adc.js') }}" rel="preload" as="script">
      <link href="{{ url_for('static', filename='terminal/css/app.1730eeb1.css') }}" rel="stylesheet">
   </head>
   <body>
      <noscript><strong>We're sorry but web_terminal doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
      <div id="app"></div>
      <script src="{{ url_for('static', filename='terminal/js/chunk-vendors.b6b30adc.js') }}"></script>
      <script src="{{ url_for('static', filename='terminal/js/app.aba53cd5.js') }}"></script>
   </body>
</html>

