<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>My App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/bulma.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='screen_new/css/style.css') }}" type="text/css">
        <!-- Vue 3 CDN -->
        <script src="{{ url_for('static', filename='vendors/js/vue.global.prod.js') }}"></script>
        <!-- Socket.IO CDN -->
        <script src="{{ url_for('static', filename='vendors/js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/axios.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/print.min.js') }}"></script>
    </head>
    <body>
        <div id="app">
            <!-- Ваше приложение Vue -->
            <div class="screen">
                <div class="left">
                    <article class="notification is-info">
                        <p class="title" @click="show_voices_select()">{{ '{{ organization }}' }}</p>
                        <p class="subtitle">{{ '{{ location }}' }}</p>
                        
                    </article>
                </div>
                <div class="rigth">
                    
                </div>
            </div>


            <div id="modal-js-example" class="modal is-active" v-if="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box" style="background: tomato;">
                        <div class="operator" style="width: 80%; margin: 0 auto;">
                            <span>{{ '{{ last_notific.operator }}' }}</span>
                            <span>{{ '{{ last_notific.ticket }}' }}</span>
                        </div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
              </div>
        </div>
        <script src="{{ url_for('static', filename='terminal_new/js/terminalapp.js') }}"></script>
    </body>
</html>