<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>My App</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='vendors/css/bulma.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='worker_new/css/style.css') }}" type="text/css">
        <!-- Vue 3 CDN -->
        <script src="{{ url_for('static', filename='vendors/js/vue.global.prod.js') }}"></script>
        <!-- Socket.IO CDN -->
        <script src="{{ url_for('static', filename='vendors/js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendors/js/axios.min.js') }}"></script>
    </head>
    <body>
        <div id="app" class="container">
            <!-- Ваше приложение Vue -->
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification">
                      <div class="content">
                        <p class="title">{{ '{{ organization }}' }}</p>
                        <div class="field">
                            <p class="control">
                                <button class="button" v-on:click="call_client();" style="width: 100%;">вызвать</button>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button" v-on:click="confirm_client();" style="width: 100%;">завершить</button>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button" v-on:click="delay_client();" style="width: 100%;">отложить</button>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button" v-on:click="call_delay_client();" style="width: 100%;">вызвать отложенного</button>
                            </p>
                        </div>
                        <p class="subtitle">вернуть талон в очередь с выбранной услугой</p>
                        <div class="field">
                            <p class="control">
                                <div class="select">
                                    <select v-model="changed_service_id">
                                    <option v-for="item in services" :key="item.id" :value="item.id">{{ '{{ item.name }}' }}</option>
                                    </select>
                                </div>
                                <button class="button" v-on:click="change_service_client(changed_service_id);">сменить</button>
                            </p>
                        </div>
                        <div v-for="item in stat.treatment" :key="item.operator.id">
                            <div class="box current_ticket" v-if="item.operator.id === operator.id">
                                <h1>{{ '{{ item.ticket.prefix }}' }}{{ '{{ item.ticket.num }}' }}</h1>
                                <p>{{ '{{ item.ticket.service.name }}' }}</p>
                            </div>
                        </div>
                        <div class="content">
                          <!-- Content -->
                        </div>
                      </div>
                    </article>
                  </div>

                <div class="tile is-vertical is-8">
                  <div class="tile">
                    <div class="tile is-parent">
                      <article class="tile is-child notification">
                        <p class="title">{{ '{{ operator.name }}' }}</p>
                        <p class="subtitle">{{ '{{ location }}' }}</p>
                        <table class="table" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Услуга</th>
                                    <th>Ожидающие</th>
                                    <th>Отложенные</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in stat.services" :key="item.service.id">
                                    <td>{{ '{{ item.service.name }}' }}</td>
                                    <td>{{ '{{ item.service.count }}' }}</td>
                                    <td>{{ '{{ item.service.count_delay }}' }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <article v-for="item in stat.treatment" :key="item.operator.id" class="message is-info">
                            <div class="message-header">
                                <p>{{ '{{ item.ticket.prefix }}' }}{{ '{{ item.ticket.num }}' }}</p>
                                <p>{{ '{{ item.ticket.service.name }}' }}</p>
                            </div>
                            <div class="message-body">
                                <p>{{ '{{ item.operator.name }}' }}</p>
                            </div>
                        </article>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <script src="{{ url_for('static', filename='worker_new/js/mainapp.js') }}"></script>
    </body>
</html>